{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="transition content">
<img id="profilepic" src="{% static 'home/images/FinalHeadshot.jpg' %}" alt="profile pic">
<h1 class="title">Introduction</h1>
<p class="subtext">My name is Brandon. I am a Senior at Baldwin Wallace University, Majoring in Finance. I
    originally practiced coding for the sake of treating finance like a data science, and being able to run more
    mathematical models on financial data. Realizing I needed an effective way to convey my findings,
    I took on the journey of being to rapidly develop minimum viable products. Expect to see more in the future!
</p>
</div>

{% endblock %}